* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}
/* Header section styles */
.banner-overviwe{
    background-image: url('../images/banner/banner2.png');
    height: 800px;
    
    display: flex;
    justify-content: right;
    align-items: center;
    /* background-size: cover; */

}
.banner{
    left: 845px;
    top: 216px;
    width: 625px;
    height: 228px;
    text-align: right;
}
.banner-title {
    
    color: #151414;
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    padding-right:150px ;

}
.banner-description{
    padding:30px 150px 30px 30px;
    color: #444343;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}
.banner-btn{
    margin-right:150px ;
    padding: 10px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    border: 0;
    border-radius: 7px;
    background: #FD6E0A;

}
/* Failures section styles */
.my-failures-overviwe{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 190px;
    margin-top: 100px;
    /* background-color: #efe8e881; */

}
.failures{
    width: 416px;
    height: 400px; 
    padding: 0px 140px 0px 140px;
}
.failures-title{
    color: #151414;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    padding-bottom: 10px;
}
.failures-description{
    color: #444343;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 10px;
}
.failures-list .list-description{
    color: #444343;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
   
}
/* style of achiving section */

.my-achive-overviwe{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 190px;
    margin-top: 100px;
    /* background-color: #efe8e881; */

}
.achive{
    width: 416px;
    height: 400px; 
    padding: 0px 140px 0px 140px;
}
.achive-title{
    color: #151414;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    padding-bottom: 10px;
}
.achive-description{
    color: #444343;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 10px;
}
.achive-list .list-description{
    color: #444343;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    list-style-type: square;
   
}

/* Starting plans section */

.main-plans-title{
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    padding-top: 50px;
    padding-bottom: 40px;
}

.my-plans-overviwe{
    display: flex;
    justify-content: center;
    gap: 124px;
    padding-left: 50px;

}
.plans{  
    text-align: center;
    padding: 30px; 
}
.plans-title{
    
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    padding: 20px 0 10px 0;
}
.plans-description{
    color: #757575;
    font-weight: 500;
    font-size: 20px;
}
/* contact section styles */
.contact-overviwe{
    background: url('../images/gradient2.png') center , url('../images/watch.png') center ;
    background-repeat: no-repeat;
    

    height: 300px;
}
.contact-overviwe .contact{
    margin: 100px 280px;
    padding-top: 60px;
}
.contact-title{
    width: 459px;
    font-weight: 700;
    line-height: 47px;
    font-size: 40px;
    color: #FFFFFF;
    padding-bottom: 24px;
}
.contact-btn{
    color: #F15B22;
    width: 160px;
    height: 64px;
    font-weight: 600;
    font-size: 20px;
    border: none;
    background: #FFFFFF;
    border-radius: 10px; 

}
/* footer section start */

.footer-overviwe{
    display: flex;
    gap: 310;
    justify-content: space-around;
    margin-top: 100px;
    background: #151414;
    height: 500px;
    padding-top: 150px;
    /* align-items: center; */
}
.footer-future{
    width: 490px;
    color: #F8F8F8;
}
.footer-title{
    color: #F8F8F8;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    padding-bottom: 17px;
}
.footer-description{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 25px;
}
.email{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 16px;

}

.phone-number{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
}
.icons-overviwe{
    display: flex;
    gap: 18px;
    padding-top: 30px;
}
.footer-subscribe{
    width: 330px;
}
.footer-subscriber{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;
    padding-bottom: 30px;
}

.input input {
    color: #F3F3F3;
    font-weight: 400;
    font-size: 18px;
    width: 300px;
    height: 64px;
    background: none;
    border: #F3F3F3 solid ;
    border-radius: 10px;
      
}


.subscribe-btn{
    color: #FD6E0A;
    font-weight: 600;
    font-size: 20px;
    width: 170px;
    height: 64px;
    border: none;
    background: #FFFFFF;
    border-radius: 10px; 
    margin-top: 15px;

}




